
#nametag-container{
        width:753px;
        height:473px;
        background-color:#000000;
        margin:auto;
        position: relative;
}

h1{
    text-align:center;
    color:#ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
}


.circle{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left:0;
}
