body{
    margin:0;
}

main {
    display: flex;
}

nav{
    /* width:97.5%; */
    
    background:rgb(59, 59, 59);
    /* padding: 10px 20px; */
    padding: 20px;  
    display:flex;
    justify-content: space-around;
    box-sizing: border-box;
}

#logo{
    height:100%;
    width:100px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    margin:0;
    padding:0;
}

#searchbar{
    width:40%;
    /* height:100%; */
    background:rgb(134, 133, 133);
    padding:0px;
    height:40px;
}

#profile{
    width:20%;
    height:100%;
    background:rgb(59, 59, 59);
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    float:right;
    padding:0;
    margin:0;
   
}

#profile h2 {
    margin: 0;
}


section {
    flex-basis: 80%;
}

.likes{
    width: 300px;
    height:75%;
    background:#868586;
    float:right;
    margin-top:200px;
    padding:0;
   font-family:Arial, Helvetica, sans-serif

}

.likes ul{
    list-style: none;
}

.profile-header{
    width: 200%;
    height:200px;
    margin:0;
    padding:0;
    background:#caadff;
    font-family:Arial, Helvetica, sans-serif;
    color:white;

}

.profile-header h2{
    margin:0px;
    padding:0px;
    margin-left:250px;
    
   
}

.profile-header h4{
    margin:0;
    padding:0;
    margin-left:250px;

}


.circle{
    background:white;
    height:150px;
    width:150px;
    border-radius: 50%;
    display:inline-block;
    margin-left:90px;
    margin-top:-20px;
}

.recent{
   font-family: Arial, Helvetica, sans-serif;
   color:black;
   float:center;
    margin-top: 40px;
    background:rgb(216, 216, 216);
    padding-left: 25px;
    width:150%;
    
}

.recent ul{
    list-style-type: none;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap:15px;
    height: 200px;
    width: 90%;
    /* width:200px; */
    /* padding-left: 25px; */
    padding: 0;
}

.recent li{
    /* height: 200px;
    width: 200%; */
    background:#e08a44;
    
}

.nextsong{
    background:rgb(216, 216, 216);
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    padding-left: 25px;
    width:150%;
      
}

.nextsong ul{
    list-style-type: none;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap:15px;
    height: 200px;
    width: 90%;
    /* width:200px; */
    /* padding-left: 25px; */
    padding: 0;
}

.nextsong li{
    /* height: 200px;
    width: 200px; */
    background:#e08a44;
    
}




@media 
    (max-width: 640px){
        #searchbar{
            display:none;
        }

        aside{
            display:none;
        }

        .recent{
            flex-basis:50%;
        }

        .nextsong{
            flex-basis: 50%;
        }

        .likes{
            display:none;
        }
       



    }