@font-face {
    font-family: 'cliftontrialitalic';
    src: url('../fonts/webfontkit-20210428-215223/cliftontrial-italic-webfont.woff2') format('woff2'),
         url('../fonts/webfontkit-20210428-215223/cliftontrial-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cliftontrialregular';
    src: url('../fonts/webfontkit-20210428-215223/cliftontrial-regular-webfont.woff2') format('woff2'),
         url('../fonts/webfontkit-20210428-215223/cliftontrial-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    background-color: rgb(141, 86, 66);
}

h1{
    color:cornflowerblue;
    font-family: cliftontrialitalic;
    font-size: 120px;
    text-align: center;
    margin-bottom:0;
}

h2{
    color:cornflowerblue;
    font-family: cliftontrialregular;
    font-size: 20px;
    width:40%;
    text-align: center;
    position:relative;
    left:30%;
    margin-top:0;
}

h3{
    color:cornflowerblue;
    font-family: cliftontrialitalic;
    font-weight: bolder;
    font-size: 15px;
    margin-left:1%;
    margin-top:3%;
    text-align: center;
}

.homebutton{
    font-family: cliftontrialitalic;
    color:cornflowerblue;
    font-size: 25px;
    text-decoration: none;
    position:fixed;
    top:5px;
    left:5px;
}

.homebutton:hover{
    color:rgb(224, 162, 139);
}

a{
    color:cornflowerblue;
    font-family: cliftontrialitalic;
    font-weight: bolder;
    font-size: 20px;
    position:relative;
    /* left:110%; */
    text-decoration: none;
}

a:hover{
    color:rgb(224, 162, 139);
}

.links{
    column-count: 2;
    max-width:800px;
    left: 60%;
    transform: translateX(-50%);
    position: relative;
}



@media only screen and (max-width: 1024px){
    a{
        left:-40px;
    }

    h1{
        text-align: left;
        margin-left:1%;
    }

    h2{
        text-align: left;
        left:1%;
        width:550px;
    }

    h3{
        text-align:left;
        left:1%;
    }

    .homebutton{
        top:1100px;
        left:1%;
    }
}

@media only screen and (max-width: 600px){
    a{
        left:-20px;
        font-size: 14px;
    }

    h1{
        font-size: 100px;
        text-align: left;
        margin-left:1%;
    }

    h2{
        font-size: 12px;
        text-align: left;
        left:1%;
        width:400px;
    }

    h3{
        font-size: 12px;
        text-align:left;
        left:1%;
    }

    .homebutton{
        top:1100px;
        left:1%;
    }
}