body {
  background-color: snow;
  width: 100%;

}
.container {
  position: relative;
  margin: 80px auto;
  height: 500px;
  width: 800px;
}
/* .tablecloth {
  position:relative;
  top:0;
  left:0;
  display:block;
} */

.coffee{
  position:absolute;
  width:25%;
  top:0px;
}

.fruit{
  position:absolute;
  left:250px;
  width:25%;
  top:-50px;
}

.fork{
  position:absolute;
  right:550px;
  top:250px;
}

.syrup{
  position:absolute;
  left:400px;
  top:100px;
  width:15%;
}

.cream{
  position:absolute;
  left:120px;
  width:15%;
  top:0px;
}

.pancakes{
  position:absolute;
  top:200px;
  left:150px;
  width:45%;
}