@font-face {
    font-family: 'cliftontrialitalic';
    src: url('../fonts/webfontkit-20210428-215223/cliftontrial-italic-webfont.woff2') format('woff2'),
         url('../fonts/webfontkit-20210428-215223/cliftontrial-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cliftontrialregular';
    src: url('../fonts/webfontkit-20210428-215223/cliftontrial-regular-webfont.woff2') format('woff2'),
         url('../fonts/webfontkit-20210428-215223/cliftontrial-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    background-color: rgb(172, 98, 70);
}

h1{
    color:cornflowerblue;
    font-family: cliftontrialregular;
    font-size: 50px;
    margin: 0 auto;
    text-align: center;
}

h2{
    color:cornflowerblue;
    font-family: cliftontrialregular;
    font-size: 20px;
    margin: 0 auto;
    margin:1%;
}

a{
    color:cornflowerblue;
    font-family: cliftontrialitalic;
    font-size: 20px;
    margin: 0 auto;
    text-decoration: none;
}

a:hover{
    color:rgb(224, 162, 139);
}

#support{
    font-family: cliftontrialitalic;
    color:cornflowerblue;
    font-size: 120px;
    text-align: center;
}

#businesses{
    font-family: cliftontrialregular;
    color:cornflowerblue;
    font-size: 25px;
    margin-bottom:0;
    text-align: center;
}

#box{
    font-family: cliftontrialitalic;
    color:cornflowerblue;
    font-size: 16px;
    font-weight: bolder;
    width:400px;
    margin: 0 auto;
    text-align: center;
    margin-top:10px;
    margin-bottom:20px;
   
}

.aboutpage{
    font-family: cliftontrialitalic;
    color:cornflowerblue;
    font-size: 25px;
    position:absolute;
    /* left:1320px;
    top:275px; */
    width:10%;
    height:10%;
    right:5px;
    bottom:5px;
    text-decoration: none;
    margin-top:30%;
}

.aboutpage:hover{
    color:rgb(224, 162, 139);
}

.hidden{
    text-align: center;
    border:2px solid cornflowerblue;
    width:500px;
    margin:auto;
    display:none;
}

img{
    margin:5%;
}

#container {
    background-color: #efefef;
    width: 30px;
    padding: 50px;
    margin: 50px auto;
    word-wrap: break-word;
    text-align:center;
}


@media only screen and (max-width: 600px){
    #support{
        font-size: 100px;
    }

    #businesses{
        font-size: 19px;
    }

    .hidden{
        width:350px;
        margin:auto;
    }

    .aboutpage{
       top:600px;
       margin-left:auto;
       margin-right:auto;
    }
}


@media only screen and (max-width: 400px){
    #support{
        font-size: 90px;
    }

    #businesses{
        font-size: 18px;
    }

    .hidden{
        width:300px;
        margin:auto;
    }
}

