@font-face {
    font-family: 'robotothin';
    src: url('../fonts/webfontkit-20210218-180519/roboto-thin-webfont.woff') format('woff2'),
         url('../fonts/webfontkit-20210218-180519/roboto-thin-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 0%, rgba(1,61,110,1) 100%);
}

  #one {
    font-family: 'robotothin';
    font-size: 14pt;
    color:rgb(209, 208, 250);
    padding-top:80;
    padding-bottom:1800;
    padding-left:120;
    max-width:400px;
    animation: fadeIn ease 15s;
  }

  /* fade in code from https://medium.com/cloud-native-the-gathering/how-to-use-css-to-fade-in-and-fade-out-html-text-and-pictures-f45c11364f08 */
  
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
  }

  #it {
    font-family: 'robotothin';
    font-size: 25pt;
    color:rgb(209, 208, 250);
    padding-top:50;
    padding-bottom:1800;
    text-align:center;
    animation: fadeIn ease 40s;
  }

  
  
  #two {
    font-family: 'robotothin';
    font-size: 14pt;
    color:rgb(209, 208, 250);
    max-width: 290px;
    padding-left:120;
    padding-bottom:1500;
    animation: fadeIn ease 60s;
  }


  #sonic {
    font-family: 'robotothin';
    font-size: 30pt;
    color:rgb(209, 208, 250);
    text-align: center;
    padding-bottom:2200;
    animation: fadeIn ease 120s;
  }

  #three {
    font-size: 14pt;
    font-family: 'robotothin';
    color:rgb(209, 208, 250);
    padding-bottom:2000;
    text-align: left;
    max-width: 400px;
    margin: 0 auto;
    animation: fadeIn ease 130s;
    }


  #surrounding {
    font-size: 50pt;
    font-family: 'robotothin';
    padding-left:800;
    color:rgb(209, 208, 250);
    padding-bottom:2100;
    margin: 0 auto;
    animation: fadeIn ease 170s;
  }
  

  #four {
    font-family: 'robotothin';
    font-size: 14pt;
    text-align: left;
    padding-left:800;
    color:rgb(209, 208, 250);
    padding-bottom:2200;
    max-width: 440px;
    margin: 0 auto;
    animation: fadeIn ease 200s;
  }
  
  #five {
    font-family: 'robotothin';
    font-size: 14pt;
    text-align: left;
    color:rgb(209, 208, 250);
    padding-bottom:2300;
    max-width: 430px;
    margin: 0 auto;
    animation: fadeIn ease 220s;
  }
  
  #studios {
    font-family: 'robotothin';
    font-size: 22pt;
    padding-right: 400;
    padding-left:100;
    color:rgb(209, 208, 250);
    padding-bottom:2000;
    margin: 0 auto;
    animation: fadeIn ease 240s;
  }

  #six {
    font-family: 'robotothin';
    font-size: 14pt;
    color:rgb(209, 208, 250);
    padding-right: 500;
    padding-bottom:2200;
    max-width: 430px;
    margin: 0 auto;
    animation: fadeIn ease 260s;
  }
  
  #seven {
    font-family: 'robotothin';
    font-size: 14pt;
    color:rgb(209, 208, 250);
    padding-left:700;
    padding-bottom:2000;
    max-width: 430px;
    margin: 0 auto;
    animation: fadeIn ease 280s;
  }

  #immersed {
    font-family: 'robotothin';
    font-size: 30pt;
    color:rgb(209, 208, 250);
    padding-bottom:2100;
    padding-left:200;
    margin: 0 auto;
    animation: fadeIn ease 300s;
  }
  
  #eight {
    font-family: 'robotothin';
    font-size: 40pt;
    text-align: center;
    color:rgb(209, 208, 250);
    padding-bottom:2200;
    margin: 0 auto;
    animation: fadeIn ease 320s;
  }

  #clear {
    font-family: 'robotothin';
    font-size: 22pt;
    color:rgb(209, 208, 250);
    padding-bottom:2000;
    padding-left:100;
    margin: 0 auto;
    animation: fadeIn ease 340s;
  }
  
  #nine {
    font-family: 'robotothin';
    font-size: 14pt;
    color:rgb(209, 208, 250);
    max-width: 410px;
    margin: 0 auto;
    padding-right:500;
    padding-bottom:2100;
    animation: fadeIn ease 360s;
  }
  
  #ten {
    font-family: 'robotothin';
    font-size: 14pt;
    color:rgb(209, 208, 250);
    padding-left:700;
    padding-bottom:2000;
    max-width: 410px;
    margin: 0 auto;
    animation: fadeIn ease 380s;
    }
  
  
  #eleven {
    font-family: 'robotothin';
    font-size: 14pt;
    color:rgb(209, 208, 250);
    text-align: left;
    padding-bottom:2200;
    max-width: 450px;
    margin: 0 auto;
    animation: fadeIn ease 400s;
  }

  #actually {
    font-family: 'robotothin';
    font-size: 40pt;
    color:rgb(209, 208, 250);
    text-align: center;
    padding-bottom:2000;
    margin: 0 auto;
    animation: fadeIn ease 420s;
  }
  
  #twelve {
    font-family: 'robotothin';
    font-size: 18pt;
    color:rgb(209, 208, 250);
    max-width: 400px;
    padding-right:700;
    padding-left:100;
    margin: 0 auto;
    padding-bottom:2200;
    animation: fadeIn ease 440s;
  }
  
  
  #thirteen {
    font-family: 'robotothin';
    font-size: 14pt;
    text-align: left;
    color:rgb(209, 208, 250);
    max-width: 400px;
    margin: 0 auto;
    padding-bottom:2000;
    animation: fadeIn ease 460s;
  }
  
  #fourteen {
    font-family: 'robotothin';
    font-size: 14pt;
    color:rgb(209, 208, 250);
    padding-bottom:2200;
    padding-left:700;
    max-width: 400px;
    margin: 0 auto;
    animation: fadeIn ease 480s;
  }
  
  #ambience {
    font-family: 'robotothin';
    font-size: 50pt;
    color:rgb(209, 208, 250);
    padding-bottom:2200;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    animation: fadeIn ease 500s;
  }

  #fifteen {
    font-family: 'robotothin';
    font-size: 14pt;
    color:rgb(209, 208, 250);
    padding-bottom:2000;
    max-width: 400px;
    margin: 0 auto;
    padding-left:800;
    animation: fadeIn ease 520s;
  }
  
  #sixteen {
    font-family: 'robotothin';
    font-size: 14pt;
    color:rgb(209, 208, 250);
    padding-right:800;
    padding-left:100;
    padding-bottom:2000;
    max-width: 450px;
    margin: 0 auto;
    animation: fadeIn ease 540s;
  }

  #induce {
    font-family: 'robotothin';
    font-size: 22pt;
    color:rgb(209, 208, 250);
    text-align: left;
    padding-bottom:2300;
    max-width: 800;
    margin: 0 auto;
    animation: fadeIn ease 560s;
  }
  
  #seventeen {
    font-family: 'robotothin';
    font-size: 14pt;
    text-align: left;
    color:rgb(209, 208, 250);
    padding-bottom:2200;
    padding-right:500;
    max-width: 300px;
    margin: 0 auto;
    animation: fadeIn ease 580s;
  }
  
  #eighteen {
    font-family: 'robotothin';
    font-size: 14pt;
    color:rgb(209, 208, 250);
    padding-bottom:2000;
    padding-left:700;
    max-width: 400px;
    margin: 0 auto;
    animation: fadeIn ease 600s;
  }

  #credits {
    font-family: 'robotothin';
    font-size: 14pt;
    color:rgb(209, 208, 250);
    text-align: center;
    animation: fadeIn ease 620s;
  }

/* button code from w3 schools*/
  #myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    left: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: rgb(31, 30, 30); 
    color: rgb(209, 208, 250);
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 14px; 
  }
  
  #myBtn:hover {
    background-color: rgb(141, 140, 206); 
  }
  
  @media screen and (max-width:600px) {

    body{
        margin:0;
    }

    div { width: 100%; height: 100%; min-width: 1000px; min-height: 1000px; }
  
#one{
       font-size: 60px;
       width: 100%;
       padding-bottom:4500;
   }

#it{
    font-size: 70px;
    padding-left:400;
    padding-right:0;
    width: 100%;
    padding-bottom:4500;
}

#two{
    font-size: 60px;
    width: 100%;
    padding-bottom:4500;
}

#sonic{
    font-size: 80px;
    width: 100%;
    text-align: left;
    padding-left:400;
    padding-right:0;
    padding-bottom:4500;
}

#three{
    font-size: 60px;
    width: 100%;
    padding-left:100;
    padding-bottom:4500;
}

#surrounding{
    font-size: 90px;
    padding-left:400;
    padding-right:0;
    text-align:center;
    width: 100%;
    padding-bottom:4500;
}

#four{
    font-size: 60px;
    width: 100%;
    padding-left:100; 
    padding-bottom:4500;
}

#five{
    font-size: 60px;
    width: 100%;
    padding-left:400; 
    padding-bottom:4500;
}

#studios{
    font-size: 80px;
    width: 100%;
    padding-left:100; 
    padding-bottom:4500;
}

#six{
    font-size: 60px;
    width: 100%;
    padding-left:400; 
    padding-bottom:4500;
}

#seven{
    font-size: 70px;
    width: 100%;
    padding-left:100; 
    padding-bottom:4500;
}

#immersed{
    font-size: 80px;
    width: 100%;
    padding-left:300; 
    padding-bottom:4500;
}

#eight{
    font-size: 50px;
    width: 100%;
    padding-left:100; 
    text-align: left;
    padding-bottom:4500;
}

#clear{
    font-size: 80px;
    width: 100%;
    padding-left:200; 
    text-align: left;
    padding-bottom:4500;
}

#nine{
    font-size: 60px;
    width: 100%;
    padding-left:100; 
    padding-bottom:4500;
}

#ten{
    font-size: 60px;
    width: 100%;
    padding-left:400; 
    padding-bottom:4500;
}

#eleven{
    font-size: 60px;
    width: 100%;
    padding-left:100; 
    padding-bottom:4500;
}

#actually{
    font-size: 100px;
    width: 100%;
    padding-left:200; 
    padding-bottom:4500;
}

#twelve{
    font-size: 60px;
    width: 100%;
    padding-left:100; 
    padding-bottom:4500;
}

#thirteen{
    font-size: 60px;
    width: 100%;
    padding-left:300; 
    padding-bottom:4500;
}

#fourteen{
    font-size: 60px;
    width: 100%;
    padding-left:400; 
    padding-bottom:4500;
}

#ambience{
    font-size: 100px;
    width: 100%;
    text-align:left;
    padding-left:100; 
    padding-bottom:4500;
}

#fifteen{
    font-size: 60px;
    width: 100%;
    padding-left:400; 
    padding-bottom:4500;
}

#sixteen{
    font-size: 60px;
    width: 100%;
    padding-left:100; 
    padding-bottom:4500;
}

#induce{
    font-size: 80px;
    width: 100%;
    padding-left:300; 
    padding-bottom:4500;
}

#seventeen{
    font-size: 60px;
    width: 100%;
    padding-left:100;
    padding-bottom:4500; 
}

#eighteen{
    font-size: 60px;
    width: 100%;
    padding-left:400; 
    padding-bottom:4500;
}

#credits{
    font-size: 60px;
    width: 100%;
    padding-left:300; 
}

#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    left:50px;
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: rgb(31, 30, 30); 
    color: rgb(209, 208, 250);
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 60px; 
  }
  }