.contact{
    font-family: eckmannpsych-large, sans-serif;
    font-style: normal;
    font-weight: 400;
    color:rgb(25, 48, 15);
    font-size: 180px;
    position:absolute;
    top:50%;
    left:39%;
    transform:translate(-50%,-50%);
    }

body{
    background-color: rgb(236, 211, 177);
}

p{
    font-family: anonymous-pro, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color:rgb(25, 48, 15);
    margin-top:470;
    margin-left:280;
    margin-bottom:0;
   margin-right:570;
}

h2{
    font-family: anonymous-pro, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color:rgb(25, 48, 15);
    margin-top:10;
    margin-left:280;
    margin-bottom:0;
 }

 .insta{
     margin-left:270;
     margin-top:10;
 }

 a[href="index.html"]{
    font-family: anonymous-pro, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color:rgb(25, 48, 15);
    display:inline-block;
    margin-left:1300;
    margin-top:-551;
 }

 span:nth-child(1){
    animation-delay: 0.5s;
}
span:nth-child(2){
    animation-delay: 1s;
}
span:nth-child(3){
    animation-delay: 1.5s;
}
span:nth-child(4){
    animation-delay: 2s;
}
span:nth-child(5){
    animation-delay: 2.5s;
}


span{
    display:inline-block;
    font-weight: bolder;
    animation: mover 5s linear infinite;
    
    }
    @keyframes mover{
        0%{
            text-shadow: 0 0 30px rgba(44, 6, 216, 0);
        }
        50%{
            text-shadow: 0 0 30px rgba(37, 14, 236, 0.3);
            transform: translateY(30px);
        }
        100%{
            text-shadow: 0 0 30px rgba(46, 17, 212, 0);
        }
    }