.work{
font-family: eckmannpsych-large, sans-serif;
font-style: normal;
font-weight: 400;
color:rgb(25, 48, 15);
font-size: 180px;
position:absolute;
top:48%;
left:34%;
transform:translate(-50%,-50%);
}

body{
    background-color: rgb(236, 211, 177);
}

.kaililake{
    margin-left:100;
    margin-top:100;
}

.kaya{
    margin-top:150;
    margin-left:800px;  
}

.aless{
    margin-top:-500;
    margin-left:800;
}

.kaili{
    margin-top:200;
    margin-left:100;
}

.kiera{
    margin-top:-650;
    margin-left:400;
}

.alex{
    margin-left:1100;
 }

 h1{
    font-family: anonymous-pro, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color:rgb(25, 48, 15);
    margin-top:250;
    margin-left:264;
 }

 a[href="index.html"]{
    font-family: anonymous-pro, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color:rgb(25, 48, 15);
    display:inline-block;
    margin-left:1300;
    margin-top:-430;
 }

 span:nth-child(1){
    animation-delay: 0.5s;
}
span:nth-child(2){
    animation-delay: 1s;
}
span:nth-child(3){
    animation-delay: 1.5s;
}
span:nth-child(4){
    animation-delay: 2s;
}

span{
    display:inline-block;
    font-weight: bolder;
    animation: mover 5s linear infinite;
    
    }
    @keyframes mover{
        0%{
            text-shadow: 0 0 30px rgba(44, 6, 216, 0);
        }
        50%{
            text-shadow: 0 0 30px rgba(37, 14, 236, 0.3);
            transform: translateY(30px);
        }
        100%{
            text-shadow: 0 0 30px rgba(46, 17, 212, 0);
        }
    }


h2{
    font-family: anonymous-pro, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color:rgb(25, 48, 15);
    margin-top:-225;
    margin-left:100;
    margin-bottom:0;
}

h3{
    font-family: anonymous-pro, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color:rgb(25, 48, 15);
    margin-top:-60;
    margin-left:400;
    margin-bottom:0;
}

h4{
    font-family: anonymous-pro, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color:rgb(25, 48, 15);
    margin-top:140;
    margin-left:800;
    margin-bottom:0;
}

h5{
    font-family: anonymous-pro, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color:rgb(25, 48, 15);
    margin-top:35.5;
    margin-left:1100;
    margin-bottom:0;
}

h6{
    font-family: anonymous-pro, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color:rgb(25, 48, 15);
    margin-top:290;
    margin-left:100;
    margin-bottom:0;
}

p{
    font-family: anonymous-pro, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color:rgb(25, 48, 15);
    margin-top:-10;
    margin-left:800;
    margin-bottom:0;
}