  
h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    color:rgb(99, 95, 95);
    font-size: 3em;
}

h2{
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-style: italic;
    color:rgb(99, 95, 95);
    font-size:2em;
}

body{
    background-color: lightgray;
}

p{
    font-family: 'Courier New', Courier, monospace;
    color:blue;
    font-size: 2em;
}

.container{
    display:flex;
    flex-direction:column;
}

@media screen and (min-width: 768px) {
    p {
      color:rgb(99, 95, 95);
      width:33.33%;
      font-size: 1em;
    }

    h1{
        color:blue;
        font-size: 4em;
        
    }

    h2{
        color:blue;
        font-size: 2em;
    }

    .container{
        padding:60px;
        flex-direction:row;
        flex-wrap: wrap;
    }
  }


  @media screen and (min-width: 1024px) {
    p {
      font-size: 12px;
      color:black;
    }
    h1{
        font-size:5em;
    }
    h2{
        font-size:3em;
    }
  }

  @media screen and (min-width: 1200px) {
    p {
        font-size: 14px;
        color: white;
    }
    body{
        background-color: blue;
    }
    h1{
        color:gainsboro;
    }
    h2{
        color:gainsboro;
    }
  }
  
  @media screen and (max-width: 480px) {
    body{
        background-color: blue;
    }
    h1{
        color: white;
        font-size: 2em;
    }
    h2{
        color: white;
        font-size: 1em;
    }
    p{
        color:gainsboro;
        font-size: 14px;
    }
  }

  
  

  