


.rectangle{
height:500;
width:900;
background-color:rgb(236, 211, 177);
margin-left:250px;
margin-top:125px;
display:flex;


}

body{
    background-color: rgb(25, 48, 15);
    
}

.mia{
font-family: eckmannpsych-large, sans-serif;
font-style: normal;
font-weight: 400;
color:rgb(25, 48, 15);
font-size: 180px;
margin:0;
padding:0;
position:absolute;
top:50%;
left:49%;
transform:translate(-50%,-50%);
display:flex;


}

h1{
    font-family: anonymous-pro, monospace;
    font-style: italic;
    font-weight: 400;
    font-size: 25px;
    color:rgb(25, 48, 15);
    margin-left:400;
    margin-top:230;
    display:flex;
    flex-wrap:wrap;
}



h4{
    font-family: anonymous-pro, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color:rgb(236, 211, 177);
  margin-left:40;
  margin-top:-460;
  display:flex;
  flex-wrap:wrap;
}

h5{
    font-family: anonymous-pro, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color:rgb(236, 211, 177);
    margin-top:-37;
    margin-left:125;
    display:flex;
    flex-wrap:wrap;
}


span:nth-child(1){
    animation-delay: 0.5s;
}
span:nth-child(2){
    animation-delay: 1s;
}
span:nth-child(3){
    animation-delay: 1.5s;
}
span:nth-child(4){
    animation-delay: 2s;
}
span:nth-child(5){
    animation-delay: 2.5s;
}
span:nth-child(6){
    animation-delay: 3s;
}
span:nth-child(7){
    animation-delay: 3.5s;
}
span:nth-child(8){
    animation-delay: 4s;
}
span:nth-child(9){
    animation-delay: 4.5s;
}
span:nth-child(10){
    animation-delay: 5s;
}
span:nth-child(11){
    animation-delay: 5.5s;
}

span{
    display:inline-block;
    font-weight: bolder;
    animation: mover 5s linear infinite;
    
    }
    @keyframes mover{
        0%{
            text-shadow: 0 0 30px rgba(44, 6, 216, 0);
        }
        50%{
            text-shadow: 0 0 30px rgba(37, 14, 236, 0.3);
            transform: translateY(30px);
        }
        100%{
            text-shadow: 0 0 30px rgba(46, 17, 212, 0);
        }
    }


    .kaililake{
        margin-top:-260;
        margin-left:150;    
        display:flex;
        flex-wrap:wrap;
    }
    
    .alex{
        margin-left:1100;
        margin-top:-590;
        display:flex;
        flex-wrap:wrap;
    }
    
    .kaya{
        margin-top:-350;
        margin-left:400;
        display:flex;
        flex-wrap:wrap;
    }
    
    
    .kaili{
        margin-left:1100;
        margin-top:20;
       display:flex;
       flex-wrap:wrap;
        }
    
    .kiera{
        margin-left:175;
        margin-top:-560;
        display:flex;
        flex-wrap:wrap;
    }
    
    .aless{
        margin-top:0;
        margin-left:800;
        display:flex;
        flex-wrap:wrap;
    }

    @media 
    only screen and (max-width: 414px){
        .kaililake{
            display:none;
        }
        .alex{
            display:none;
        }
        .kaya{
            display:none;
        }
        .aless{
            display:none;
        }
        .kaili{
            display:none;
        }
        .kiera{
            display:none;
        }
        .rectangle{ 
            display:none;
        }
        .mia{
            font-size: 90;
            color:rgb(236, 211, 177);
            margin-left:10;
        }
        h1{
            font-size:20px;
            color:rgb(236, 211, 177);
            margin-top:400;
            margin-left:130;
        }
        h4{
            float:left;
            margin-top:-400;
        }
        h5{
            float:left;
            margin-top:-400;
        }
        
    }

    @media (max-width: 640px){

        .rectangle{
            flex-basis:100px;
        }


    }