body{
    background-color: rgb(233, 233, 233);
}

h1{
    font-family: 'Courier New', Courier, monospace;
    color:mediumaquamarine;
    font-weight: lighter;
}

h2{
    font-family: 'Courier New', Courier, monospace;
    color:mediumaquamarine;
    font-weight: lighter;
    font-style: italic; 
    font-size: 20px;
}

p{
    font-family: 'Courier New', Courier, monospace;
    color:mediumaquamarine;
    font-weight: lighter;
}

#photowall{
    display:flex;
    flex-flow: row;
    /* my photos are appearing weird right now, im not sure what i did wrong w the flex wrap ?? 
    i just wanted them in a horizontal row */
    justify-content: space-between;
    padding:0;
    margin:0;
}

.image{
    margin:auto;
}

a{
    font-family: 'Courier New', Courier, monospace;
    color:mediumaquamarine;
    text-decoration: none;
    background-color: lightpink;
}

a:hover{
    background-color: mediumaquamarine;
    color:lightpink;
}

#mirror{
    width:700px;
    height:500px;
    background-color: rgb(143, 148, 153);
}

#shelves{
    display:flex;
    flex-direction: column;
}

.shelf{
    width:800px;
    height:400px;
    padding-bottom:10px;
    padding-top:10px;
    background-color: moccasin;
}

#window{
    width:700px;
    height:600px;
    background-color: rgb(36, 35, 34);
}

#rug{
    width:1000px;
    height:1000px;
    background-color: slategray;
}

#posterwall{
    display:flex;
    flex-direction: row;
}

.poster{
    width:200px;
    height:350px;
    color:rgb(83, 65, 182);
}

@media only screen and (max-width: 768px){
/* im not sure what to do with breakpoints yet*/
}